.title {
    font-size: 20px;
}

.container {
    max-width: 1230px;
    padding: 30px 20px 0;
    margin: 0 auto;
}

.flex {
    display: flex;
    gap: 20px;
}

.form {
    border: 2px solid #6c7ae0;
    padding: 0 15px 10px;
    min-width: 320px;
}

.form span {
    display: flex;
    padding: 7px 0;
}

.title {
    padding: 10px;
    border: 2px solid #6c7ae0;
}

.table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
}

.table.products {

    grid-template-columns: minmax(150px, 1fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 0.33fr);

    grid-template-rows: 50px auto;

}

.table.categories {
    grid-template-columns: minmax(150px, 1fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 0.33fr);
}

thead,
tbody,
tr {
    display: contents;
}

th,
td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

th {
    position: sticky;
    top: 0;
    background: #6c7ae0;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
}

th:last-child {
    border: 0;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
    font-size: 18px;
}

tr:nth-child(even) td {
    background: #f8f6ff;
}

.category_feature {
    gap: 10px;
    display: inline-flex;
}

.category_feature span {
    padding: 3px;
    color: #fff;
    background-color: #ff9353;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    gap: 5px;
}

.col_descr {
    font-size: 12px;
}